# configuration
/.git/
desktop.ini

# assets
/assets/videos/*
!/assets/videos/ecsk.mp4

# hardware
/hardware/documents/*
!/hardware/documents/cm4io-datasheet.pdf

# software
/software/edge/dataset/*
/software/edge/models/seat/*
!/software/edge/models/seat/bohr_*

/software/server/dataset/
/software/server/models/