# configuration
/.git/
desktop.ini

# assets
/assets/videos/*
!/assets/videos/ecsk.mp4

# hardware
/hardware/documents/*
!/hardware/documents/cm4io-datasheet.pdf

# software
/software/edge/dataset/*
/software/edge/models/*
!/software/edge/models/seat/bohr_down.tflite
!/software/edge/models/seat/bohr_up.tflite
!/software/edge/models/seat/bohr_spin.tflite

/software/server/dataset/
/software/server/models/